
menuconfig AD4002
    bool "Analog AD4002 SPI Device Driver"
    depends on DT_HAS_ST_STM32_PWM_ENABLED
    select SPI
    select SPI_STM32 if DT_HAS_ST_STM32_SPI_ENABLED
    select PWM
	select USE_STM32_LL_TIM
	select USE_STM32_LL_RCC if SOC_SERIES_STM32F4X || SOC_SERIES_STM32F7X || SOC_SERIES_STM32H7X
	select RESET
    help
        Enable STM32 SPI, PWM, and DMA for AD4002

if AD4002

module = AD4002
module-str = AD4002
source "subsys/logging/Kconfig.template.log_config"

config AD4002_SPI_INIT_PRIORITY
    int "AD4002 SPI INITIALIZATION PRIORITY"
    default 90
    help
        AD4002 SPI peripheral initialization priority

endif


if PWM

module = PWM
module-str = pwm
source "subsys/logging/Kconfig.template.log_config"

config PWM_INIT_PRIORITY
	int "PWM initialization priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  System initialization priority for PWM drivers.

endif